
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-sizing: border-box;
}
/* Light mode will be the default and all relevant colour variables are defined under ":root" */
:root {
    --background: rgb(196, 195, 195); /* linear-gradient(to right, rgb(196, 195, 195), rgb(81, 88, 96)); */
    --clr-button: rgb(255, 255, 255);
    --clr-button-hover: rgba(223, 219, 219, 0.5);
    --clr-button-border: 1px solid rgb(95, 92, 92);
    --display-background: rgba(160, 160, 160, 0.65);
    --clr-previous-number-display: rgb(104, 101, 101);
    --clr-current-number-display: rgb(18, 18, 18);
    --clr-toggle-darkmode: rgb(255, 255, 255);
    --clr-button-text: black;
}

/* Define dark mode colours here */
.darkmode {
    --background: rgb(77, 77, 77); /* linear-gradient(to right, rgb(0, 0, 0), rgb(77, 77, 77)); */
    --clr-button: rgb(16, 12, 65);
    --clr-button-hover: rgba(120, 120, 120, 0.5);
    --clr-button-border: 1px solid rgb(255, 255, 255);
    --display-background: rgba(161, 161, 161, 0.65);
    --clr-previous-number-display: rgb(255, 255, 255);
    --clr-current-number-display: rgb(0, 0, 0);
    --clr-toggle-darkmode: rgba(207, 207, 207, 0.5);
    --clr-button-text: white;
}

/* style the background */
body{
    padding: 0;
    margin: 0;
    background: var(--background);
}

.toggle-dark-mode{
    cursor: pointer;
    font-size: 175%;
    border: var(--clr-button-border);
    background-color: var(--clr-toggle-darkmode);
    padding: 1%;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    /* Sets how many columns should be repeated (5) and the size of each column (10%) */
    grid-template-columns: repeat(5, 10%);
    /* Set the minimum and maximum sizes (in %) of the rows as well as amount and size of each */
    grid-template-rows: minmax(5%, 15%) repeat(6, 10%);
} 

/* This edits all buttons in the calculator-grid header. This is not necessary and you should 
 make a class out of this rather. */
.calculator-grid > button {
cursor: pointer;
font-size: 150%;
border: var(--clr-button-border);
color: var(--clr-button-text);
background-color: var(--clr-button);
border-radius: 5px;
}

.calculatorx-grid > button:hover{
    background-color: var(--clr-button-hover)
    }

/* Style the output display text */
.output{
    grid-column: 1/-1;
    background-color: var(--display-background);
    color: darkgoldenrod;
    /* Use flex to dynamically set the width of the output display within the grid */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 35px;
}

/* Style the previous number inside the display */
.output .previous-number{
    color: var(--clr-previous-number-display);
}
/* Style the current number inside the display */
.output .current-number{
    color: var(--clr-current-number-display);
}