/* body {
    background-color: #fff;
    color: blue;
    font-size: 21px;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-sizing: border-box;
}
/* Light mode will be the default and all relevant colour variables are defined under ":root" */
:root {
    --background: linear-gradient(to right, rgb(196, 195, 195), rgb(81, 88, 96));
    --clr-button: rgb(255, 255, 255);
    --clr-button-hover: rgba(223, 219, 219, 0.5);
    --clr-button-border: 1px solid rgb(95, 92, 92);
    --display-background: rgba(230, 230, 230, 0.65);
    --clr-previous-number-display: rgb(104, 101, 101);
    --clr-current-number-display: rgb(18, 18, 18);
    --clr-toggle-darkmode: rgb(255, 255, 255);
}

/* Define dark mode colours here */
.darkmode {
    --background: linear-gradient(to right, rgb(0, 0, 0), rgb(77, 77, 77));
    --clr-button: rgb(174, 174, 174);
    --clr-button-hover: rgba(120, 120, 120, 0.5);
    --clr-button-border: 1px solid rgb(255, 255, 255);
    --display-background: rgba(86, 86, 86, 0.65);
    --clr-previous-number-display: rgb(255, 255, 255);
    --clr-current-number-display: rgb(0, 0, 0);
    --clr-toggle-darkmode: rgba(207, 207, 207, 0.5);
}

/* style the background */
body{
    padding: 0;
    margin: 0;
    background: var(--background);
    aspect-ratio: 1/1;
}

.toggle-dark-mode{
    cursor: pointer;
    font-size: 2rem;
    border: var(--clr-button-border);
/* background-color: rgb(255, 255, 255); */
    background-color: var(--clr-toggle-darkmode);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    /* height: 70%;
    width: 70%; */
     min-height: 100vh;
    grid-template-columns: repeat(5, 10%);
    grid-template-rows: minmax(5%, 15%) repeat(6, 10%);
} 



.calculator-grid > button {
cursor: pointer;
font-size: 2rem;
border: var(--clr-button-border);
/* background-color: rgb(255, 255, 255); */
background-color: var(--clr-button);
}

.calculatorx-grid > button:hover{
    background-color: var(--clr-button-hover)
    }

/* Style the output display text */
.output{
    grid-column: 1/-1;
    background-color: var(--display-background);
    color: darkgoldenrod;
    /* Use flex to dynamically set the width of the output display */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 35px;
}

/* Style the previous number inside the display */
.output .previous-number{
    color: var(--clr-previous-number-display);
}
/* Style the current number inside the display */
.output .current-number{
    color: var(--clr-current-number-display);
}
